name: Run Behave Selenium tests - Windows

on:
  workflow_dispatch:

env:
  USE_LAMBDATEST: "false"                        # Environment variable to indicate using LambdaTest
  RUN_IN_ON_PREMISE: "false"  
  ENVIRONMENT: "test_headless"

jobs:
  test:
    runs-on: windows-latest
    # runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Behave tests
        run: |
          behave -f allure_behave.formatter:AllureFormatter -o reports/ --tags=@UI
          
      - uses: actions/upload-artifact@master
        with:
          name: reports
          path: reports
          retention-days: 30
        
      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages
      
      - name: Test marketplace action
        uses: simple-elf/allure-report-action@master
        if: always()
        id: allure-report
        with:
          allure_results: reports
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history